@import './base.css';
html,body {
    height: 100%;
	margin: 0;
}
.main-container {
    height: 100%;
}
main, main > div {
    height: 100%;
}
p {
    color: #fff;
}
.corrected-area {
    background-color: #a75e66;
}
.chat-area {
    background-color: #1790ab;
}
.gramar-area {
    background-color: #a75e66;
}